name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY_PROD }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.SERVER_HOST_PROD }} >> ~/.ssh/known_hosts

      - name: Deploy_Prod
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST_PROD }} "
            cd /home/ubuntu/practica-docker-prod/tfm-ai-api &&
            git pull origin main &&
            cd .. &&
            docker-compose down &&
            docker-compose up -d --build
          "
