name: Deploy

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy
        run: |
          if [ "${GITHUB_REF##*/}" = "main" ]; then
            ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "
              cd /home/ubuntu/practica_docker/tfm-ai-api-main &&
              git pull origin main &&
              cd .. &&
              docker compose down &&
              docker compose up -d --build
            "
          else
            ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "
              cd /home/ubuntu/practica_docker_dev/tfm-ai-api-main &&
              git pull origin dev &&
              cd .. &&
              docker compose down &&
              docker compose up -d --build
            "
          fi
